*{
    box-sizing: border-box;
}

//CATEGORY TITLE
.small-cap{
    font-family:$header-sans;
}

//LANDING PAGE GALLERY
.landing-grids{
    display:block;
    width:100%;
    background-color:$white-smoke;
    .article{
        width:100%;
    }
    .column, .columns{
        padding:$grid-gutter;
    }
}

//COLUMNS WITH PICTURES ON ONE SIDE
.landing-grids{
    .img-left{
         .first{
            float: left;
                &:after{
                    @include arrow();
                     right:0;
                     border-right-color: $white-smoke;
                }
            }
        .last{
        float:right;
    }}
    .img-right{
         .first{
            float: left;
            }
         .last{
            float:right;
              &:after{
                   left:0;
                   @include arrow();
                   border-left-color: $white-smoke;
                }
    }}
}

//FOOTER
.footer-btm{
    background-color:$oil;
    padding:38px 0 40px;
    text-align: center;
    margin-top:100px;
    color:$smoke;
    p{
        font-weight:200;
        font-size:0.8em;
    }
    ul {
        float:none;
        margin: 0 0 20px 0;
        text-align:center;
        display:inline-block;
    li{
        list-style: none;
        display:block;
        float:left;
        margin-left:30px;
        &:first-child{
            margin-left:0;
        }
       a{
           color:lighten($oil,40%);
           font-size:2.2em;
           @include ease-in-out();
           &:hover{
               color:lighten($oil,30%);
           }
       }}
            }
}