* {
    box-sizing: border-box;
}
.row:before,
.row:after {
    display: table;
    content: " ";
}

::-moz-selection { 
background-color: rgba($fade-orange,0.55);
}

::selection {
background-color: rgba($fade-orange,0.55);
}

//HEADER
header .header {
    margin-top:65px;
    padding-top: 16%;
    padding-bottom: 20%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color: $monsoon;
    h1{
        font-family:$font-family-sans-serif;
    }
}

//NAV
.top-bar-section ul li a {
    @include ease-in-out();
}

nav.top-bar{
    position:fixed;
    width:100%;
    left:0;
    top:0;
    z-index: 99;
}


//LOGO
.top-bar .title-area {
    padding-left: 5%;
    padding-top: 5px;
    padding-right: 5%;
    .name {
        display: inline-block;
        background-image: url(../images/logo.png);
        background-size: cover;
        width: 55px;
        height: 55px;
    }
}

//SCROLL DOWN BTN
#scroll-down{
    @include centered();
    margin-top:13%;
    @include flight();
    color:$fade-orange;
    cursor: pointer;
    i{
        font-size:2.2em;
    }
}


//LANDING PAGE GALLERY
#landing-grids{
    @include ease-in-out();
}

.landing-grids {
    display: block;
    width: 100%;
    background-color: $white;
    padding-bottom: 15%;
    padding-top:10%;
    .article {
        width: 100%;
    }
    .column,
    .columns {
        padding: $grid-gutter;
    }
}
//COLUMNS WITH PICTURES ON ONE SIDE
.landing-grids {
    //make text only block 100% height
    .text-only {
        background-color: $smoke;
        width: 100%;
        height: 100%;
        position: relative;
        div {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
        }
        p {
            font-weight: 300;
            font-size: 1em;
            font-size: 18px;
        }
    }
    .img-left {
        background-color: $ghost;
        .first {
            float: left;
            &:after {
                @include arrow();
                right: 0;
                border-right-color: $ghost;
            }
        }
        .last {
            float: right;
        }
    }
    .img-right {
        background-color: $vapor;
        .first {
            float: right;
            &:after {
                @include arrow();
                left: 0;
                border-left-color: $vapor;
            }
        }
        .last {
            float: left;
        }
    }
}
.full {
    position: relative;
    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: none;
        @include gradient();
    }
    button{
        background-color:transparent;
        border-color:darken($fade-orange,5%);
        padding:10px 30px;
        outline:none;
        &:hover{
            background-color:darken($fade-orange,10%);
        }
    }
}
//GRID TEXT
.desc {
    width: 100%;
    height: 100%;
    .desc-inner {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10%;
        h3 {
            color: darken($white-smoke, 30%);
            font-family: $header-sans;
            text-transform: uppercase;
            font-size: 0.8em;
            font-weight: 700;
        }
        h1 {
            color: darken($white-smoke, 68%);
            font-size: 30px;
            @include ease-in-out(0.4s);
            &:hover {
                color: darken($white-smoke, 100%);
                //                 text-shadow: 0px 0px 1px darken($white-smoke,20%);

            }
        }
    }
}
.landing-grids .full .overlay-inner,
.work-grids .full .overlay-inner {
    padding-left: 50px;
    padding-top: 30%;
    padding-right: 40px;
    p {
        font-weight: 300;
        color: white;
    }
    h3 {
        color: white;
        font-family: $header-sans;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 700;
    }
    h1 {
        color: white;
        font-size: 42px;
        font-weight: 700;
        line-height: 46px;
    }
}

a.smw{    
     display: block;
     text-align: center;
     background-color:transparent;
     border: 1px solid;
     border-color:darken($fade-orange,5%);
     color:$fade-orange;
     padding:10px 30px !important;
     margin-top:5%;
     outline:none;
     @include ease-in-out();
                &:hover{
                    background-color:darken($fade-orange,10%);
                    color:$snow;
                }}

//LANDING GRID IMAGE MODAL
.reveal-modal{
    text-align:center;
}


//LANDING GRID SOCIAL
.via-social{
    padding-top:20px;
}

.desc-inner{
    i.fa-facebook-square{
        color:$fb-color;
        font-size:2em;
        display:inline-block;
    }
    i.fa-twitter-square{
        color:$tw-color;
        font-size:2em;
        display:inline-block;
    }
}

//FOOTER
.footer-btm {
    background-color: $oil;
    padding: 38px 0 40px;
    text-align: center;
    color: $smoke;
    p {
        font-weight: 200;
        font-size: 0.8em;
    }
    ul {
        float: none;
        margin: 0 0 20px 0;
        text-align: center;
        display: inline-block;
        li {
            list-style: none;
            display: block;
            float: left;
            margin-left: 30px;
            &:first-child {
                margin-left: 0;
            }
            a {
                color: lighten($oil, 40%);
                font-size: 2.2em;
                @include ease-in-out();
                &:hover {
                    color: lighten($oil, 30%);
                }
            }
        }
    }
}
//CLIENTS PAGE
#clients-wrapper {
    margin-top:65px;
    h1, h2, h3, h4, h5 {
        font-family: $header-sans;
        text-align: center;
    }
}
.clients-grids {
    padding-top: 5%;
    .intro {
        padding-left: 30px;
        padding-right: 30px;
        p:first-of-type {
            padding-top: 30px;
        }
    }
}
.clients-grids div.clients-grids-wrapper {
    display: block;
    width: 100%;
    background-color: $smoke;
    padding-bottom: 10%;
    margin-top: 50px;
}
//SVG COLORS
.clients-grids div.row div svg path,
.clients-grids div.row div svg circle,
.clients-grids div.row div svg polygon {
    @include ease-in(0.3s);
}
.clients-grids div.row div svg {
    width: 100%;
    height: 80%;
    cursor: pointer;
    &:hover > g path, &:hover > path, &:hover > circle, &:hover > polygon {
        fill: $tuatara;
    }
}
//WORK PAGE
#work-wrapper{
    margin-top:65px;
}
#work-wrapper h2 {
    font-family: $header-sans;
    text-align: center;
}
.work-grids {
    padding-top: 5%;
    .intro {
        padding-left: 30px;
        padding-right: 30px;
        p: first-of-type {
            padding-top: 30px;
        }
    }
}
.work-grids div.work-grids-wrapper {
    display: block;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 15%;
    //padding top on large sizes is applied in media query
    background-color: $smoke;
    .column, .columns {
        padding: $grid-gutter;
    }
}
//grid hover styles are up in landing-grids and below in media query


//WORK INNER PAGES
.work-detail{
    margin-top:105px;
}
.work-detail-wrapper{
    margin-top:5%;
    padding-left: 30px;
    padding-right: 30px;
    h3 {
        color: darken($white-smoke, 30%);
        font-family: $header-sans;
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 700;}
    h1 {
        color: darken($white-smoke, 68%);
        font-size: 56px;
        font-weight:bold;
        padding-bottom:20px;
        @include ease-in-out(0.4s);
         &:hover {color: darken($white-smoke, 100%);}}
    }

#tristate div.work-hero-wrapper{
     background:$fade-orange;
     width:100%;
     height:auto;
}

#cdc div.work-hero-wrapper{
     width:100%;
     height:auto;
}

.work-detail .work-hero{
    margin-top:40px;
}

.work-hero-vid{
    position:relative;
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
    iframe{
        position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
    }
}



.work-detail .white-bg-text{
    margin-top:5%;
    margin-bottom:5%;
    padding-left: 30px;
    padding-right: 30px;
    h4{
        color: darken($white-smoke, 60%);
        font-family: $header-sans;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        margin-bottom:2%;
    }
}

.work-detail .work-category{
    margin-top:5%;
    margin-bottom:5%;
    background-color:$tuatara;
    .content{
        background-color:$tuatara;
        padding-top:50px;
        padding-bottom:50px;
        text-align: center;
        h4{
            color:rgba($white-smoke, 0.85);
            font-family: $header-sans;
            text-transform: uppercase;
            font-weight: 700;
        }
        p{
            color:$white-smoke;
        }
        ul{
            list-style:none;
            color:$white-smoke;
            margin-left:0;
            margin-top:20px;
        }
    }
}

.work-detail ul.approach{
    list-style: none;
    text-transform:uppercase;
    font-weight:700;
    font-size:1.2em;
    color:darken($white-smoke,45%);
    text-align: center;
    margin-top:4%;
    margin-bottom:4%;
    i{
        font-size:2.4em;
        padding-bottom:10px;
    }
}


.work-detail div.images{
    width:100%;
    background-color:darken($white-smoke,5%);
    padding-top:5%;
    padding-bottom:10%;
}

.work-detail div.work-recommend{
    margin-top:3%;
    h5{
        color: darken($white-smoke, 30%);
        font-family: $header-sans;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 700;
    }
    h1{
        color: darken($white-smoke, 48%);
        font-size: 36px;
        cursor: pointer;
        @include ease-in-out(0.4s);
        &:hover {color: darken($white-smoke, 100%);}
    }
    h3{
        font-family: $header-sans;
        color: darken($white-smoke, 68%);
        font-size:1em;
        margin-top:3%;
        cursor: pointer;
        @include ease-in-out(0.4s);
        &:hover {color: orange;}
    }
}

//CONTACT
#contact-wrapper{
    margin-top:65px;
    h1, h2, h3, h4, h5 {
        font-family: $header-sans;
        text-align: center;
    }
    @extend .clients-grids;
    .intro {
        padding-left: 30px;
        padding-right: 30px;
        p:first-of-type {
            padding-top: 30px;
        }
    }
}

#contact-wrapper .offices{
    margin-bottom:5%;
    padding-top:3%;
    p{
        text-align: center;
        text-transform: capitalize;
    }
    h4{
        color:darken($white-smoke,50%);
        text-transform: uppercase;
    }
}

#contact-map {
    position: relative;
//    padding-bottom: 56.25%; /* 16:9 */
    padding-bottom:40%;
    height: 0;
    overflow-x: hidden;
    iframe {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
}


//MEDIA QUERY
@media #{$large-up}
{
    //HIDE STATIC TYPE ON LARGE
    .header h1 span {
        display: none;
    }
    //SOME SPACE ABOVE CONTENT
    .landing-grids,
    .work-grids div.work-grids-wrapper {
        padding-top: 5%;
    }
}
@media #{$medium-up}
{ //HOVER EFFECT ON MED AND LARGE SIZES
    .landing-grids .full .overlay, .landing-grids .full .overlay-inner, .work-grids .full .overlay, .work-grids .full .overlay-inner {
        @include ease-in-out(0.35s);
    }
    .landing-grids .full img,
    .work-grids .full img {
        @include ease-in(0.25s);
    }
    .landing-grids .full .overlay,
    .work-grids .full .overlay {
        opacity: 0;
        display: inline-block;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    .landing-grids .full .overlay:hover + a>img,
    .work-grids .full .overlay:hover + a>img {
        @include scale(0.98);
    }
    .landing-grids .full .overlay:hover > .overlay-inner,
    .work-grids .full .overlay:hover > .overlay-inner {
        @include translateY(-50px);
    }
}
@media #{$small-only}, #{$medium-only}
{
    //NO ANIMATED TYPE ON SMALL AND MEDIUM
    .typed {
        display: none;
    }
    .header h1 span {
        display: inline-block;
    }
}
@media #{$medium-only}
{
    //SHRINK H1 SIZE FOR MED
    .desc .desc-inner h1 {
        font-size: 20px;
        line-height: 24px;
    }
    .landing-grids .text-only p {
        font-size: 14px;
        font-weight: 400;
    }
    
    .work-grids .full .overlay-inner{
        padding-left:40px;
    }
    .work .full .overlay h1 {
        font-size: 26px;
        line-height: 30px;
        padding-bottom:10px;
    }
    .work .full .overlay p {
        display:none;
    }
    .landing-grids .full .overlay h1{
        font-size:30px;
        line-height: 34px;
    }
}
@media #{$small-only}
{
    //HIDE ARROWS ON MOBILE
    .landing-grids .img-left .first:after {
        @include no-arrow();
    }
    .landing-grids .img-right .first:after {
        @include no-arrow();
    }
    //POST FORMAT ON SMALL
    .desc-inner {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    //FEATURED CONTENT GRIDS ON MOBILE TWEAK
    .full .overlay {
        width: 100%;
        height: 100%;
        position: inherit;
        display: inline-block;
        background: $snow;
        .overlay-inner {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 10%;
            padding-bottom: 10%;
            p {
                display: none;
            }
            h3 {
                color: darken($white-smoke, 30%);
                font-family: $header-sans;
                text-transform: uppercase;
                font-size: 0.8em;
                font-weight: 700;
            }
            h1 {
                color: darken($white-smoke, 68%);
                font-size: 30px;
                font-weight: 400;
            }
            button{
                display:none;
            }
        }
    }
    .work .full .overlay p {
        display: inline-block;
        color: $tuatara;
    }
    .text-only,
    .text-only .desc,
    .text-only .desc .desc-inner {
        height: 300px !important;
    }
    
    
    //CONTACT MAP HEIGHT
   #contact-map {
    padding-bottom:70%;
}
    
    //WORK DETAIL HEADER
    .work-detail-wrapper{
    h3 {
        font-size:1em;}
    h1 {
        font-size: 36px;
        line-height:36px;
}
    }
    
    ul.approach li{
        margin-bottom:45px;
        &:last-child{
            margin-bottom:10px;
        }
    }
    
    //DISABLE WOW ANIMATION ON MOBILE
    .fadeInUp{
          visibility: visible !important;
          -webkit-animation: none !important;
             -moz-animation: none !important;
               -o-animation: none !important;
              -ms-animation: none !important;
                  animation: none !important;
}
    
}