//LOADER
.loader-header {
	position: fixed;
	top: 0;
	z-index: 100;
	min-height: 480px;
	width: 100%;
	height: 100%;
	background: $snow;
}

.loader-header h1 {
	margin: 0;
}

.loader-logo,
.loader-circle {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

.loader-logo {
	top: 0;
	height: 100%;
	-webkit-transform: translate3d(0,25%,0);
	transform: translate3d(0,25%,0);
}

.loader-circle {
	bottom: 20%;
}

.loader-header .loader-inner {
	display: block;
	margin: 0 auto;
}

.loader-header .loader-logo svg {
	min-width: 320px;
	max-width: 480px;
	width: 25%;
}

.loader-header .loader-circle svg path {
	fill: none;
	stroke-width: 6;
}

.loader-header .loader-circle svg path.loader-circle-circlebg {
	stroke: #ddd;
}

.loader-header .loader-circle svg path.loader-circle-circle {
	-webkit-transition: stroke-dashoffset 0.1s;
	transition: stroke-dashoffset 0.1s;
	stroke: $fade-orange;
}

/* Content */
.loader-main {
	overflow: hidden;
	margin: 0 auto;
	padding: 100% 0 0 0;
	max-width: 1200px;
	width: 100%;
}

/* Animations */

/* Initial animation of header elements */
.loading .loader-logo,
.loading .loader-circle {
	opacity: 1;
	-webkit-animation: animInitialHeader 0.8s cubic-bezier(0.7,0,0.3,1) both;
	animation: animInitialHeader 0.8s cubic-bezier(0.7,0,0.3,1) both;
}

.loading .loader-circle {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

@-webkit-keyframes animInitialHeader {
	from { opacity: 0; -webkit-transform: translate3d(0,800px,0); }
}

@keyframes animInitialHeader {
	from { opacity: 0; -webkit-transform: translate3d(0,800px,0); transform: translate3d(0,800px,0); }
}

/* Header elements when loading finishes */
.loaded .loader-logo,
.loaded .loader-circle {
	opacity: 1;
}

.loaded .loader-main{
    padding-top:0;
}

.loaded .loader-logo {
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-animation: animLoadedLogo 0.8s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLogo 0.8s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

@keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

.loaded .loader-circle {
	-webkit-animation: animLoadedLoader 0.7s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLoader 0.7s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

/* Change the color of the logo */
.loaded .loader-logo svg path, .loaded .loader-logo svg rect {
	-webkit-transition: all 0.8s ease 0.3s;
	transition: all 0.8s ease 0.3s;
    fill:#fff;
}

/* Header animation when loading finishes */
.loaded .loader-header, .loaded .loader-logo {
	-webkit-animation: animLoadedHeader 0.8s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedHeader 0.8s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

/* Content animations */
.loaded .loader-main{
	-webkit-animation: animLoadedContent 0.7s cubic-bezier(0.7,0,0.3,1) both;
	animation: animLoadedContent 0.7s cubic-bezier(0.7,0,0.3,1) both;
}

.loaded .work-grids .first-row{
	-webkit-animation: animLoadedContent 1.1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animLoadedContent 1.1s cubic-bezier(0.7,0,0.3,1) both;
}


@-webkit-keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: translate3d(0,200px,0); }
}

@keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: translate3d(0,200px,0); transform: translate3d(0,200px,0); }
}

/* Change layout class for header */
.layout-switch .loader-header {
	position: absolute;
}

/* No JS */
.no-js .loader-header {
	position: relative;
	min-height: 0px;
}

.no-js .loader-header .loader-logo {
	margin-top: 20px;
	height: 180px;
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

.no-js .loader-header .loader-logo svg path, .no-js .loader-header .loader-logo svg rect {
	fill: none;
}

