//utilities - functions, mixins
//gradient overlay mixins
@mixin gradient(){
        background: rgb(14,14,14); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(14,14,14,0.8) 0%, rgba(81,81,81,0.75) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,14,14,0.8)), color-stop(100%,rgba(81,81,81,0.75))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(14,14,14,0.8) 0%,rgba(81,81,81,0.75) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(14,14,14,0.8) 0%,rgba(81,81,81,0.75) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(14,14,14,0.8) 0%,rgba(81,81,81,0.75) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(14,14,14,0.8) 0%,rgba(81,81,81,0.75) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#515151',GradientType=0 ); /* IE6-9 */

}

//blur mixins
@mixin blur($px:5px){
  -webkit-filter: blur($px);
  -moz-filter: blur($px);
  -o-filter: blur($px);
  -ms-filter: blur($px);
  filter: blur($px);
}

//animation mixins
@mixin ease-in-out($sec:0.2s){
    transition: all $sec ease-in-out;
    -webkit-transition: all $sec ease-in-out;
    -moz-transition: all $sec ease-in-out;
    -o-transition: all $sec ease-in-out;}

@mixin ease-in($sec:0.2s){
    transition: all $sec ease-in;
    -webkit-transition: all $sec ease-in;
    -moz-transition: all $sec ease-in;
    -o-transition: all $sec ease-in;}

@mixin border-radius($px){
     -webkit-border-radius: $px; 
     -moz-border-radius: $px;
     -o-border-radius: $px; 
     border-radius: $px;}

@mixin box-shadow($shadow:rgba(0,0,0,0.75)){
    -webkit-box-shadow: inset 0px 0px 30px 0px $shadow;
    -moz-box-shadow: inset 0px 0px 30px 0px $shadow;
    box-shadow: inset 0px 0px 30px 0px $shadow;
}

@mixin translateY($value){
        transform: translateY($value);
        -webkit-transform:translateY($value);
        -moz-transform:translateY($value);
}

@mixin scale($value){
        transform: scale($value);
        -webkit-transform:scale($value);
        -moz-transform:scale($value);
}

//gallery grid arrow
@mixin arrow(){
     top: 50%;
     border: solid transparent;
     content: " ";
     height: 0;
     width: 0;
     position: absolute;
     border-color: rgba($jet,0);
     border-width: 10px;
     border-width: 1.2rem;
     margin-top: -10px;
     margin-top: -1.2rem;
     z-index: 5;
}

//button style
@mixin button($color){
    border:2px solid $color;
    color:$color;
    background:transparent;
    padding:0.6em;
    margin:0.6em auto;
    display:block;
    text-align:center;
    width:220px;
    font-weight: 400;
    letter-spacing:0.05em;
    font-size:1.2em;
    font-family:$font-heading;
    text-transform:uppercase;
    position:relative;
    cursor:pointer;
    outline:0;
    @include ease-in-out();
    &:hover{
        background:$color;
        color:invert($color);
        @include box-shadow(darken($color,10%));
        border-color:darken($color,10%);
    }
    &:active{
        top:2px;
    }
    a{
        color:white;
    }
}

@mixin button-round($color){
    @include button($color);
    border-radius: 2em;
    line-height:1.25em;
}

@mixin button-solid($color){
    @include button($color);
    background:$color;
    a{
        color:white;
    }
    &:hover{
       background:darken($color,10%);
    }
}